body{
  background: none ;
  scroll-behavior: smooth;
overflow: none;
}

.container{
  /* background: #f5f5f5 ; */
  width: 100%;
}

.loginPage {

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

ul>li a, ul>li button{
  font-weight: 600 !important;
  background: none !important;
}

ul>#l:hover {
    background-color: rgb(255, 255, 255) !important;
    align-items: start;
    color: black !important;
}
#li a:hover {
    background-color: white !important;
    color: black !important;
}
#li .nav-link:hover {
    background-color: white !important;
    color: black !important;
}
li span:hover {
   background: none !important;
   color: black !important;

}
.bi-kanban {
  color: inherit !important;
}

li i:hover{
  color: black;
}


ul>li button:hover {
    color: black;

}


.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card {
  backdrop-filter: blur(25px);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15); 
  
}

.card:hover {
  transform: scale(1.0); 
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    cursor: pointer;
}


  
  .span:hover  {
    z-index: 1;
  }

  .add{
    border-radius: 20px;
    
  }
  .addedit{
    border: none !important;
    background: rgba(255, 255, 255, 0.7);
    gap: 7px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
  }
  .addedit:hover {
    background-color: none !important; 
  }
  
  .addedit:hover svg {
  }
  

   .addedit{
  
    color: rgb(39, 38, 38) !important;
    font-weight: 600;

  }
  
  .addedit:hover{
  background: rgba(255, 255, 255, 0.7) !important;
    color: rgb(39, 38, 38) !important;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);

    display: block;
  }

  

  @media (max-width: 760px) {
    .btn span {
      display: block;
    }
  
    .btn:hover span {
      display: block;
    }
  }
  
  @media (max-width: 440px) {
    .btn span {
      display: block;
    }
  }
  
  .login{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .sidebar{
  position: fixed;
    text-transform: uppercase;
    backdrop-filter: blur(11px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 2px -6px 23px 5px;
    
  }




  .btn-info{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

  }

  .btn-info:hover{
    transform: scale(1.01);
  }
  
  hr {
    border-width: 2px; 
  }

  .col-12{
    color: white;
    font-weight: 600;
  }
  .col-12 input{
    /* border-radius: 20px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .col-12 input:focus{
    outline: none !important
   }

   .empform{
    background: url('../Images/employformbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-left: 200px;

   }

  .forms{
    /* background: #E0C9CB; */

    backdrop-filter: blur(25px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


  }
.form-control{
      box-shadow: none;
}

.form-control .input{
  height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 42px 0 10px;
    background: rgba(255, 255, 255, 0.1) !important;
    background: rgba(255, 255, 255, 0.1);
}

.form-control:focus{
  outline: none !important;
}

  input:focus{
    outline: none !important;
    box-shadow: none;
  }

  *:focus {
    outline: none;
}
  
.btn1{
  background-color: #d7d7d7;
background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);

transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.btn1:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: rgb(50, 49, 49) !important;
  /* transform: scale(1.01); */
border: none;
}


.btn-info {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #98d8ad !important ;
  color: ghostwhite !important;
 }
 
 .btn-info span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .btn-info:hover span {
  color: black !important;
 }
 
 .btn-info::before,
 .btn-info::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .btn-info::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .btn-info:hover::before {
  transform: translate3d(100%, 0, 0);
 }

 #password{
  
  justify-content: center;
  align-items: center;
  top: auto;
  right: 30px;
  color: black;
  
 }


 .custom-toast-container {
  position: absolute;
  top: 12px; 
  left: 58%; 
  transform: translateX(-50%);
}




@media (max-width: 752px) {
  /* .custom-toast-container {
    position: static;
    top: 0;
    left: auto; 
    transform: none;
    width: auto;
  } */
}
@media (max-width: 576px) {
  .emplist{
    padding-left: 77px !important;
    }
  .empform{
    padding-left: 54px !important;
    }
    .project{
      padding-left: 54px !important;
    }
    .project-form{
      padding-left: 50px !important;
    }
}

@media (min-width: 768px){
  .sidebar{
    width: auto;
  }
}


 
.empform{
}

.emplist{
  background: url('../Images/employlistbg.png');
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-left:220px;
}

img {
  height: 150px;
  width: 156px;
  border: 5px solid transparent;
    outline: 3px dashed rgba(255,255,255,0.25);
}


.search{
  background: rgba(255, 255, 255, 0.7);
 border: none;
 border-radius: 10px;
 color: black;
}

 #submit{
  background: rgba(37, 31, 31, 0.7) !important;
  border-radius: none !important;
  color: white !important;
}

#submit::placeholder{
  color: white;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}